header{
    background-color: #d2b48c;
    color: #8c3826;
    text-align: center;
}

body{
    background-color: #FCEBB6;
    color: #221811;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    line-height: 200%;
}
h2{
    color: #8c3826;
}
nav{
    text-align: center;
    font-weight: bold;
}
footer{
    background-color: #d2b48c;
    font-size: small;
    font-style: italic;
    text-align: center;
}

#wrapper {
    width: 80%;
    background-color: #FEFAEB;
    margin-right: auto;
    margin-left: auto;
}